<!DOCTYPE html>
<html>
<head>
	<title>Add New User </title>
</head>
<body>
	<form method="post">
		<fieldset>
			<legend>Create New User</legend>
			<table>
				<tr>
					<td>Emplyoee Name</td>
					<td><input type="text" name="ename"></td>
				</tr>
				<tr>
					<td>Contact No</td>
					<td><input type="text" name="conum"></td>
				</tr>
				<tr>
					<td>User name</td>
					<td><input type="text" name="uname"></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="password" name="password"></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" name="submit" value="Add Job"></td>
				</tr>
			</table>
		</fieldset>
	</form>
	<a href="/home">Back</a>
</body>
</html>