<!DOCTYPE html>
<html>
<head>
	<title>Add New Job </title>
</head>
<body>
	<form method="post">
		<fieldset>
			<legend>Create New Job</legend>
			<table>
				<tr>
					<td>Company Name</td>
					<td><input type="text" name="cname"></td>
				</tr>
				<tr>
					<td>Job Title</td>
					<td><input type="text" name="jtitle"></td>
				</tr>
				<tr>
					<td>Job Location</td>
					<td><input type="text" name="jlocation"></td>
				</tr>
				<tr>
					<td>Salary</td>
					<td><input type="text" name="salary"></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" name="submit" value="Add Job"></td>
				</tr>
			</table>
		</fieldset>
	</form>
	<a href="/home">Back</a>
</body>
</html>